.main-area {
	background-image: url('../../resources/Image/Rectangle\ 1.png');
	height: 900px;
	background-size: cover;
	background-repeat: no-repeat;
}
.main-area:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	height: 900px;
}
