.destination {
	color: #fff;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-body {
	background-image: url('../../resources/Image/sundorbon.png');
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	height: 280px;
}
.card {
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #fff;
}
